@model WebApplication.Models.Studios

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<div>
    <h4>Studios</h4>
    <hr />
    <h3>Deseja apagar o seguinte studio?</h3>
    <p class="error">@ViewBag.ErrorMessage</p>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar à lista", "Index")
        </div>
    }
</div>
