@model WebApplication.Models.Atores

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Atores</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Data de nascimento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt><hr /></dt>
        <dd></dd>

        @if (Model.Papeis.Count() != 0)
        {
            <dt>
                Personagens
            </dt>
            <dd>
                @foreach (var papel in Model.Papeis)
	            {
                    var text = " on ";
                    @Html.ActionLink(papel.NomePersonagem, "/../Papeis/Details", new { FilmeID = papel.FilmeID, AtorID = papel.AtorID })
                    @text
                    @Html.ActionLink(papel.Filmes.Titulo + " (" + papel.Filmes.AnoLancamento + ")", "/../Filmes/Details", new { id = papel.FilmeID })
                    <br />
	            }
            </dd>
        }
        
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AtoresID }) |
    @Html.ActionLink("voltar à lista", "Index")
</p>
