@model IEnumerable<WebApplication.Models.Atores>

@{
    ViewBag.Title = "Atores";
}

<h2>Atores</h2>

<p>
    @Html.ActionLink("Cadastrar novo ator", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.AtoresID }, new { @class = "btn btn-warning btn-xs" })
            @Html.ActionLink("Detalhes", "Details", new { id = item.AtoresID }, new { @class = "btn btn-info btn-xs" })
            @Html.ActionLink("Apagar", "Delete", new { id = item.AtoresID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>

<!--  Partial que contem a paginação  -->
@{Html.RenderPartial("~/Views/Shared/_Pagination.cshtml", Model);}
