@model WebApplication.Models.Reviews

@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Resenhas</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FilmeID, "Filme", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FilmeID", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FilmeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nota, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nota, new { htmlAttributes = new { @class = "form-control", @min = "0", @max = "10" }, })
                @Html.ValidationMessageFor(model => model.Nota)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Resenha, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Resenha, new { @class = "form-control", @rows = "3" })
                @Html.ValidationMessageFor(model => model.Resenha)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar à lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
