@model WebApplication.Models.Reviews

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Resenhas</h4>
	<hr />
    <dl class="dl-horizontal">

        <dt>
            Filme
        </dt>

        <dd>
            @Html.ActionLink(Model.Filmes.Titulo, "/../Filmes/Details", new { id = Model.FilmeID })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resenha)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
