@model IEnumerable<WebApplication.Models.Reviews>

@{
    ViewBag.Title = "Resenhas";
}

<h2>Resenhas</h2>

<p>
    @Html.ActionLink("Cadrastar nova resenha", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Filme
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resenha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Filmes.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resenha)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ReviewID }, new { @class = "btn btn-warning btn-xs" })
            @Html.ActionLink("Detalhes", "Details", new { id = item.ReviewID }, new { @class = "btn btn-info btn-xs" })
            @Html.ActionLink("Apagar", "Delete", new { id = item.ReviewID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
