@model WebApplication.Models.Papeis

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Personagens</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomePersonagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePersonagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atores.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atores.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filmes.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filmes.Titulo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { FilmeID = Model.FilmeID, AtorID = Model.AtorID }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
