@model WebApplication.Models.Papeis

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Personagens</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Personagem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePersonagem)
        </dd>

        <dt>
            Ator
        </dt>

        <dd>
            @Html.ActionLink(Model.Atores.Nome, "/../Atores/Details", new { id = Model.AtorID })
        </dd>

        <dt>
            Filme
        </dt>

        <dd>
            @Html.ActionLink(Model.Filmes.Titulo, "/../Filmes/Details", new { id = Model.FilmeID })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { FilmeID = Model.FilmeID, AtorID = Model.AtorID }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
