@model IEnumerable<WebApplication.Models.Papeis>

@{
    ViewBag.Title = "Personagens";
}

<h2>Personagens</h2>

<p>
    @Html.ActionLink("Cadastrar novo personagem", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomePersonagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atores.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filmes.Titulo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomePersonagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Atores.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filmes.Titulo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { FilmeID = item.FilmeID, AtorID = item.AtorID }, new { @class = "btn btn-warning btn-xs" })
            @Html.ActionLink("Detalhes", "Details", new { FilmeID = item.FilmeID, AtorID = item.AtorID }, new { @class = "btn btn-info btn-xs" })
            @Html.ActionLink("Apagar", "Delete", new { FilmeID = item.FilmeID, AtorID = item.AtorID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
