@model WebApplication.Models.Filmes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Filmes</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoLancamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoLancamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FilmeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
