@model WebApplication.Models.Filmes

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Filmes</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Título
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            Duração
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracao)
        </dd>

        <dt>
            Ano de lançamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoLancamento)
        </dd>

        <dt><hr /></dt>
        <dd></dd>

        <dt>
            Gêneros
        </dt>
        
        <dd>
            @foreach (var item in Model.Generos)
            {
                var text = " | ";
                @Html.ActionLink(item.Descricao, "/../Generos/Details", new { id = item.GeneroID })
                @text
            }
        </dd>

        <dt><hr /></dt>
        <dd></dd>

        <dt>
            Studios
        </dt>

        <dd>
            @foreach (var item in Model.Studios)
            {
                var text = " | ";
                @Html.ActionLink(item.Nome , "/../Studios/Details", new { id = item.StudioID })
                @text
            }
        </dd>

        <dt><hr /></dt>
        <dd></dd>

        <dt>
            Personagens
        </dt>

        <dd>
            @foreach (var item in Model.Papeis)
            {
                var text = " | ";
                @Html.ActionLink(item.NomePersonagem, "/../Papeis/Details", new { FilmeID = item.FilmeID, AtorID = item.AtorID })
                @text
            }
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.FilmeID }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
