@model IEnumerable<WebApplication.Models.Filmes>

@{
    ViewBag.Title = "Filmes";
}

<h2>Filmes</h2>

<p>
    @Html.ActionLink("Cadastrar novo filme", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnoLancamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnoLancamento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.FilmeID }, new { @class = "btn btn-warning btn-xs" })
            @Html.ActionLink("Detalhes", "Details", new { id = item.FilmeID }, new { @class = "btn btn-info btn-xs" })
            @Html.ActionLink("Apagar", "Delete", new { id = item.FilmeID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
