@model IEnumerable<WebApplication.Models.Generos>

@{
    ViewBag.Title = "Gêneros";
}

<h2>Gêneros</h2>

<p>
    @Html.ActionLink("Cadastrar novo gênero", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.GeneroID }, new { @class = "btn btn-warning btn-xs" })
            @Html.ActionLink("Detalhes", "Details", new { id = item.GeneroID }, new { @class = "btn btn-info btn-xs" })
            @Html.ActionLink("Apagar", "Delete", new { id = item.GeneroID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>

<!--  Partial que contem a paginação  -->
@{Html.RenderPartial("~/Views/Shared/_Pagination.cshtml", Model);}
